---
layout: default
---
{% include JB/setup %}
{% include themes/twitter/page.html %}

<p>I am a web producer and tactician with broad interests.</p>

<h4>Projects</h4>

<ul>
	<li><a href="http://www.cryptopals.org">cryptopals.org</a>  A resource for email encryption novices to find practice penpals</li>
	<li><a href="http://www.streetscenes.org.uk">Street Scenes</a>  Organised public space meetups</li>
	<li><a href="http://www.microsplash.org">Microsplash</a>  Microsites for political purposes</li>
	<li><a href="{% post_url 2014-03-26-thinking-retreat-for-technological-futures %}">Technology for Humans</a> Philosophical retreat</li>
</ul>

<h4>Content</h4>

<p>Prose for explanation, analysis and engagement are of utmost importance to me.</p>

<p>Whilst working at NGOs such as <a href="http://www.amnesty.org">Amnesty International</a> and <a href="http://www.survivalinternational.org">Survival</a>, I worked with campaigners at home and abroad to collate, optimise and publish content on various platforms.</p>

<h4>Code</h4> 

<p>Solo and teamwork on web projects involving Django, Ruby on Rails, HTML5, CSS, Javascript and a wealth of associated web libraries and frameworks.</p>

<h4>Strategy</h4>

<p>My contributions to the development of organisational social media, international mailing lists, advertising and other communications have been multiple.</p>

<h4>Coordination</h4>

I work with a wealth of tools and collaborators to coordinate projects like <a href="http://www.microsplash.org">microsplash</a> and <a href="http://www.streetscenes.org.uk">Street Scenes</a>. These bring groups together on open platforms to socially productive ends.

Professionally I have trained and supported staff technically as well as developing and introducing new systems.

I lead open workshops and discussions on web security, surveillance and politics.


<!-- <h3>Professional experience</h3>

<p>Amnesty International, London</p>
<p>Digital Engagement Coordinator</p>

<p>Survival International</p>
<p>Web Activist</p>


<h3>Interests</h3>

Social innovation

Digital politics

Futurist ethics -->

<h3>Contact</h3>

<ul>
	<li><a href="mailto:info@microsplash.org">info@microsplash.org</a></li>
	<li>London  +44 7886 769 498</li>
	<li>Berlin  +49 1639 710 871</li>
</ul>
